form {
  min-width: 130px;
  max-width: 300px;
  margin: 0 auto;
  padding: 70px;
}

.login-card {
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}
